
html {
	  background-image: url('/Media/BackgroundMago.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		overflow-x: hidden; /* Hide scrollbar */
}
body, html {
  height: 100%;
  width:100%;

}
/* Background adjustment */
.bg {
  height: 100%;
  width: 100%;
  margin: auto;
}

#logo{
	z-index: 99;
}

#paper {
	background-image: url('/Media/paper.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	padding-top: 11px;
    padding-left: 79px;
    padding-right: 41px;
	position: absolute;
	left: 35%;
	top: 45%;
	width: 700px;

}

#widgets{
background-image: url('/Media/paper.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	padding-top: 11px;
	padding-bottom: 11px;
    padding-left: 79px;
    padding-right: 41px;
	position: absolute;
  left: 2%;
  bottom: 10%;
	width: 300px;
}

#return {
	width: 100px;
	float: right;
	margin-left: 2%;
}

#return:hover {
	filter: contrast(150%); 
}

#text p {
	font-size: 19px;
	font-family: cursive;
	text-align: justify;
}

