html {
	background: black url("Media/aprendalayout.png") no-repeat fixed center cover;
	width: 100%;
	height: 100%;
}

.bg h1, .bg h2, p, b, u {
	font-family: monospace;
	color: #00ff67;
}

.config {
	background-color: black;
	border-style: solid;
	border-color:  #00ff67;
	
}

#tutorials{
	position: absolute;
	top: 30%;
	left: 10%;
	padding: 2%;
	width: 50%;
	margin: 2%;
}

#log{
	float: right;
	margin: 2%;
	padding: 2%;
	width: 25%;
	height: 50%;
}
p, b {
	font-size: 20px;
}
#back {
	font-size: 25px;
}

