html
{
	background: url('/Media/evabackground.png') repeat center cover;
	overflow-x: hidden; /* Hide scrollbar */
}

#return{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.footer{
	position: absolute;
	height: 25%;
	width: 100%;
}

#footerbg {
	width: 100%;
}
