
html {
	background: url('/Media/BackgroundMago.png') no-repeat center cover;		
	overflow-x: hidden; /* Hide scrollbar */
}
body, html {
  height: 100%;
  width:100%;

}
/* Background adjustment */
.bg {
  height: 100%;
  width: 100%;
  margin: auto;
}

#logo{
	z-index: 2;
}

#paper {
	background: url('/Media/paper.png') no-repeat center cover;
	padding: 11px 41px 0px 79px;
	position: absolute;
	left: 35%;
	top: 45%;
	width: 700px;

}

#widgets{
	background: url('/Media/paper.png') no-repeat center cover;
	padding: 11px 79px 11px 41px;
	position: absolute;
	left: 2%;
  	bottom: 10%;
	width: 300px;
}

#return {
	width: 100px;
	float: right;
	margin-left: 2%;
}

#return:hover {
	filter: contrast(150%); 
}

#text p {
	font: cursive 19px;
	font-family: cursive;
	text-align: justify;
}

