body, html {
  height: 100%;
  width:100%;
   overflow: hidden; /* Hide scrollbar */
}
/* Background image */
.bg {
  background-image: black url('/Media/Background.png') no-repeat center cover;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* --- Cover icons --- */
.cover-icons {
	position: fixed;
}

#angel {
	bottom: 0px; 
	right: 0px;
	width: 500px;
	z-index: 2;
}

#barcode {
	bottom: 0px;
	left: 0px;
	width: 200px;
	z-index: 2;

}

#cloud {
	top: 25%;
	right: 25%;
	width: 450px;
	z-index: 1;
}

#rain {
	top: 60%;
	right: 32%;
	width: 250px;
}

/* --- Headllines --- */
.headline {
	position: fixed;
	z-index: 2;
	transform: rotate(0deg);
}
#logo {
    	right: 50%;
  	transform: rotate(0deg);
	filter: invert(10%); 
}
 
#join {
	right: 15%;
	top: 25%;
	width: 250px;
}

#joineng {
	right: 15%;
	top: 35%;
	width: 150px;
}
#learn {
	right: 60%;
	top: 60%;
	width: 300px;
}
#guest {
	right: 5%;
	bottom: 5%;
}

#logo:hover, #join:hover, #joineng:hover, #learn:hover, #guest:hover {
      	filter: saturate(200%); 
	transform: rotate(5deg);
    }

/* -- Aquarium -- */

 @keyframes fish-1-move {
  0%   {left:0%; top:0%;transform: scaleX(1) rotate(0deg); width: 500px;}
  25%  {left:50%; top:10%;transform: scaleX(1) rotate(30deg); width: 450px;}
  50%  {left:60%; top:50%;transform: scaleX(-1) rotate(0deg); width: 360px;}
  75%  {left:40%; top:25%;transform: scaleX(-1) rotate(10deg); width: 600px;}
  85%  {transform: scaleX(-1) rotate(20deg); width: 450px;}
  100% {left:0%; top:0%;transform: scaleX(1) rotate(0deg); width: 500px;}
}

#fish-1{
	width: 500px;
	transform: scaleX(1) rotate(0deg);
	position: absolute;
	top: 20px; 
	left: 20px;
	animation: fish-1-move linear 10s infinite;
	z-index: 1;
    	max-height: 100%;
}

@keyframes fish-2-move {
  0%   {left:75%; top:75%;transform: scaleX(1) rotate(0deg); width: 200px;}
  25%  {left:50%; top:90%;transform: scaleX(1) rotate(10deg); width: 250px;}
  50%  {left:0%; top:25%;transform: scaleX(1) rotate(25deg); width: 360px;}
  55%  {left:0%; top:25%;transform: scaleX(-1) rotate(10deg); width: 360px;}
  75%  {left:50%; top:50%;transform: scaleX(-1) rotate(25deg); width: 400px;}
  80%  {left:50%; top:50%;transform: scaleX(-1) rotate(5deg); width: 350px;}
  100% {left:75%; top:75%;transform: scaleX(1) rotate(0deg); width: 200px;}
}

#fish-2{
	width: 300px;
	transform: scaleX(1) rotate(0deg);
	position: absolute;
	top: 100%; 
	left: 100%;
	animation: fish-2-move linear 30s infinite;
	z-index: 0;
}

@keyframes fish-3-move {
  0%   {right:0%; bottom:0%;transform: scaleX(1) rotate(0deg); width: 250px; z-index: 0;}
  25%   {right:50%; bottom:50%;transform: scaleX(1) rotate(30deg); width: 100px; z-index: 0;}
  30%   {right:50%; bottom:50%;transform: scaleX(1) rotate(15deg); width: 100px; z-index: 0;}
  35%   {right:50%; bottom:50%;transform: scaleX(1) rotate(-30deg); width: 100px; z-index: 0;}
  50%   {right: 100%; bottom:0%;transform: scaleX(-1) rotate(30deg); width: 150px; z-index: 3;}
  75%   {right:50%; bottom: 25%;transform: scaleX(-1) rotate(30deg); width: 250px;}
  100%   {right:0%; bottom: 0%;transform: scaleX(1) rotate(0deg); width: 250px;}

}
#fish-3{
	width: 200px;
	transform: scaleX(-1) rotate(0deg);
	animation: fish-3-move linear 10s infinite;
	z-index: -1;
	position: absolute;
	bottom: 0%; 
	right: 0%;
}

