html {
	background-color: black;
}
body, html {
  height: 100%;
  width:100%;
   overflow: hidden; /* Hide scrollbar */
}
/* Background image */
.bg {
   background-image: url('/Media/Background.png');
  height: 100%;
  width: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Icons animations and images */
#angel{
	position: fixed; 
	bottom: 0px; 
	right: 0px;
	width: 500px;
	z-index: 50;
}

#icon{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 200px;
	z-index: 100;

}

#cloud {
	position: fixed;
	top: 25%;
	right: 25%;
	width: 450px;
	z-index: 10;
}

#rain {
	position: fixed;
	top: 60%;
	right: 32%;
	width: 250px;

}

#logo {
	position: fixed;
	right: 50%;
    transform: rotate(0deg);
	filter: invert(10%); 
    z-index: 100;
}
   
#logo:hover {
      filter: invert(0%) saturate(110%); 
	  transform: rotate(5deg);
    }
 
#join {
	position: fixed;
	right: 15%;
	top: 25%;
    transform: rotate(0deg);
    z-index: 99;
	width: 250px;
}
   
#join:hover, #joineng:hover, #learn:hover, #guest:hover {
      filter: saturate(200%); 
	  transform: rotate(5deg);
    }

#joineng {
	position: fixed;
	right: 15%;
	top: 35%;
    transform: rotate(0deg);
    z-index: 99;
	width: 150px;
}
#learn {
	position: fixed;
	right: 60%;
	top: 60%;
    transform: rotate(0deg);
    z-index: 99;
	width: 300px;
}
#guest {
	position: fixed;
	right: 5%;
	bottom: 5%;
    transform: rotate(0deg);
    z-index: 99;
}
 @keyframes fish1move {
  0%   {left:0%; top:0%;transform: scaleX(1) rotate(0deg); width: 500px;}
  25%  {left:50%; top:10%;transform: scaleX(1) rotate(30deg); width: 450px;}
  50%  {left:60%; top:50%;transform: scaleX(-1) rotate(0deg); width: 360px;}
  75%  {left:40%; top:25%;transform: scaleX(-1) rotate(10deg); width: 600px;}
  85%  {transform: scaleX(-1) rotate(20deg); width: 450px;}
  100% {left:0%; top:0%;transform: scaleX(1) rotate(0deg); width: 500px;}
}

#fish1{
	width: 500px;
	transform: scaleX(1) rotate(0deg);
	position: absolute;
	top: 20px; 
	left: 20px;
	 animation-name: fish1move;
     animation-duration: 10s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 z-index: 30;
	 overflow: hidden;
     max-height: 100%;
}

@keyframes fish2move {
  0%   {left:75%; top:75%;transform: scaleX(1) rotate(0deg); width: 200px;}
  25%  {left:50%; top:90%;transform: scaleX(1) rotate(10deg); width: 250px;}
  50%  {left:0%; top:25%;transform: scaleX(1) rotate(25deg); width: 360px;}
  55%  {left:0%; top:25%;transform: scaleX(-1) rotate(10deg); width: 360px;}
  75%  {left:50%; top:50%;transform: scaleX(-1) rotate(25deg); width: 400px;}
  80%  {left:50%; top:50%;transform: scaleX(-1) rotate(5deg); width: 350px;}
  100% {left:75%; top:75%;transform: scaleX(1) rotate(0deg); width: 200px;}
}

#fish2{
	width: 300px;
	transform: scaleX(1) rotate(0deg);
	position: absolute;
	top: 100%; 
	left: 100%;
	 animation-name: fish2move;
     animation-duration: 30s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 z-index: 20;
}

@keyframes fish3move {
  0%   {right:0%; bottom:0%;transform: scaleX(1) rotate(0deg); width: 250px; z-index: 0;}
  25%   {right:50%; bottom:50%;transform: scaleX(1) rotate(30deg); width: 100px; z-index: 0;}
  30%   {right:50%; bottom:50%;transform: scaleX(1) rotate(15deg); width: 100px; z-index: 0;}
  35%   {right:50%; bottom:50%;transform: scaleX(1) rotate(-30deg); width: 100px; z-index: 0;}
  50%   {right: 100%; bottom:0%;transform: scaleX(-1) rotate(30deg); width: 150px; z-index: 60;}
  75%   {right:50%; bottom: 25%;transform: scaleX(-1) rotate(30deg); width: 250px;}
  100%   {right:0%; bottom: 0%;transform: scaleX(1) rotate(0deg); width: 250px;}

}
#fish3{
	width: 200px;
	transform: scaleX(-1) rotate(0deg);
	position: absolute;
	z-index: 0;
	bottom: 0%; 
	right: 0%;
	 animation-name: fish3move;
     animation-duration: 10s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	z-index: 0;

}

